name: "Check PR"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

permissions:
  pull-requests: read

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - name: Check if PR title starts with build or ci
        id: check_type
        run: |
          TITLE="${{ github.event.pull_request.title }}"
          if [[ "$TITLE" =~ ^(build|ci): ]]; then
            echo "skip_scope=true" >> $GITHUB_OUTPUT
          else
            echo "skip_scope=false" >> $GITHUB_OUTPUT
          fi

      - name: Check if skip_scope is true
        if: steps.check_type.outputs.skip_scope == 'true'
        run: echo "skip_scope is true"

      - name: Check if skip_scope is false
        if: steps.check_type.outputs.skip_scope == 'false'
        run: echo "skip_scope is false"
