name: Registry SDK

on:
  push:
  pull_request:
    types: [opened, reopened, ready_for_review]

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y lsof jq zsh

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: 1.0.0

      - name: Build contracts
        run: forge build
        working-directory: packages/registry-contracts

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install package dependencies
        run: bun install --frozen-lockfile

      - name: Build zkpassport-utils
        run: bun run build
        working-directory: packages/zkpassport-utils

      - name: Build registry-sdk
        run: bun run build
        working-directory: packages/registry-sdk

      - name: Run checks
        run: bun run check
        working-directory: packages/registry-sdk

      - name: Run tests
        run: bun run test
        working-directory: packages/registry-sdk
