name: Registry Contracts

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]

env:
  FOUNDRY_PROFILE: ci

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.4.4

      - name: Show Forge version
        run: forge --version
        working-directory: packages/registry-contracts

      - name: Run checks
        run: forge fmt --check
        id: check
        working-directory: packages/registry-contracts

      - name: Build contracts
        run: forge build --sizes
        id: build
        working-directory: packages/registry-contracts

      - name: Run tests
        run: forge test -vvv
        id: test
        working-directory: packages/registry-contracts
