name: Registry SDK

on:
  push:
  pull_request:
    types: [opened, reopened, ready_for_review]

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y lsof jq zsh

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.0.0

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.22

      - name: Install package dependencies
        run: bun install --frozen-lockfile

      - name: Setup Turbo cache
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Build
        run: bun run build --filter=@zkpassport/registry

      - name: Run checks
        run: bun run check --filter=@zkpassport/registry

      - name: Run tests
        run: bun run test --filter=@zkpassport/registry
