name: ZKPassport Utils

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-bun-zkpassport-utils-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-zkpassport-utils
        working-directory: packages/zkpassport-utils

      - name: Install Dependencies
        run: bun install
        working-directory: packages/zkpassport-utils

      - name: Run Tests
        run: bun run test
        working-directory: packages/zkpassport-utils
